.ui-dialog #adress {
  width: 95%;
  height: 55px;
  padding: .4em;
}

.ui-dialog [id*=-button] {
  margin-top: 5px;
  margin-bottom: 5px;
}

#templateSelector-button {
  font-size: 80%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#templateSelector-menu {
  font-size: 90%;
}

.graphic0815 {
  font-size:300%;      
}
                }
